.feedBox {
  border: .1rem solid black;
  border-radius: .2rem;
  position: absolute;
  right: 0;
  top: 0;
  height: auto;
  width: auto;
  padding: 2rem;
  background-color: #FCF4A3; 
}
//name of instrumment in popup
.firstLine {
  list-style-type: none;
  margin-top: 3rem;
  font-weight: bold;
  background-color: #FCF4A3;
}

.available {
  color: green;
  float: right;
  position: relative;
  // left: -10rem;
  font-weight: normal;
}
//write description here
.detailTextBox {
  margin-left: 2rem;
  height: 3rem;
  width: 6rem;
  border: .01rem solid black;
  border-radius: .2rem;
  background-color: white;
}

.line {
  margin-top: 20px;
}


.innerFeedBox {
  display: flex;
}

.checkoutBox {
  display: column;
  justify-content: center;
}
