@import "_variables";
@import "_categories";
@import "_feed";

* {
  margin: 0;
  font-family: Pangolin;
}

html,
body {
  height: 100%;
  width: 100%;
  background-image: url(https://i.imgur.com/wYsPXcf.jpg);
  background-repeat: repeat;
  background-position: fixed;
}
